<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        th {
            padding: 7px
        }
        a {
            font-family: 'Roboto Thin', sans-serif;
            font-size: medium;
            text-decoration: none;
        }
        .shadowText {
            text-shadow: 1px 1px 2px black, 0 0 5px dimgrey; /* Параметры тени */
            color: white; /* Белый цвет текста */
        }
        .shadowTable {
            box-shadow: 1px 1px 2px black, 0 0 5px black;
        }
    </style>
</head>
<body>
<table style="border-collapse: collapse">
    <h1>Заказы:</h1>
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr class="shadowTable" th:each="orders : ${orderList}">
        <th style="text-align: left" th:bgcolor="${orders.getStatusId().getColor()}">
            <a class="shadowText" th:href="@{'order?id=' + ${orders.getId()}}" th:text="${orders.getName()}"/>
        </th>
        <th style="text-align: center" th:bgcolor="${orders.getStatusId().getColor()}">
            <a class="shadowText" th:href="@{'order?id=' + ${orders.getId()}}" th:text="${orders.getStatusId().getName()}"/>
        </th>
    </tr>
</table>
</body>
</html>