<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/orderAdd.js}"></script>
<head>
  <meta charset="UTF-8">
  <title>Добавить заказ</title>
</head>
<body>
  <h1>Form</h1>

  <form id="formAddOrder" th:action="@{/orderAdd}" th:object="${order}" method="post">
    <p th:field="*{id}"></p>
    <p>Наименование детали   : <input type="text" required th:field="*{name}" /></p>
    <p>Стоимость детали      : <input type="text" required th:field="*{costOrigin}" /></p>
    <p>Стоимость для клиента : <input type="text" required th:field="*{costCustomer}" /></p>
    <p>Комментарии           : <input type="text" required th:field="*{orderComments}" /></p>

    <p>
      <select th:id="customerlist" required th:field="*{customerId}" th:onchange='firstRender(value)'>
        <option th:each="customer : ${customers}" th:with="customerToCars=${customer}" th:value="${customer}" th:text="${customer.getName()}">
        </option>
      </select>
    </p>

    <p>
      <select class="selectCarsByCustomer" th:id="carlist" required th:field="*{carId}" style="visibility: hidden">

      </select>
    <p>

    <input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </form>


</body>
</html>